<!-- <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M-89.45,67.61 C189.90,204.78 566.87,-31.06 534.14,188.00 L500.00,150.00 L0.85,180.11 Z"
      style="stroke: none; fill: #343b38 ;"></path>
  </svg></div>

1f2937 -->

<footer class="bg-quillGray-800 text-white py-8 px-4">
  <!-- اطلاعات تماس -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div>
      <h3 class="font-bold text-lg mb-4">تماس با ما</h3>
      <ul>
        <li>تلفن: ۰۲۱-۱۲۳۴۵۶۷۸</li>
        <li>
          <p>ایمیل: info.digistyle.com</p>
        </li>
        <li>آدرس: تبریز، خیابان آبرسان، پلاک ۱</li>
      </ul>
    </div>

    <!-- لینک‌های مفید -->
    <div>
      <h3 class="font-bold text-lg mb-4">لینک‌های مفید</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:underline">درباره ما</a></li>
        <li><a href="#" class="hover:underline">تماس با ما</a></li>
        <li><a href="#" class="hover:underline">قوانین و مقررات</a></li>
        <li><a href="#" class="hover:underline">سوالات متداول</a></li>
      </ul>
    </div>

    <!-- شبکه‌های اجتماعی -->
    <div>
      <h3 class="font-bold text-lg mb-4">ما را دنبال کنید</h3>
      <ul class="flex space-x-4 gap-2">
        <li><a href="#" class="hover:underline"><mat-icon>facebook</mat-icon></a></li>
        <li><a href="#" class="hover:underline"><mat-icon>telegram</mat-icon></a></li>
      </ul>
    </div>
  </div>

  <!-- کپی‌رایت -->
  <div class="mt-8 border-t border-gray-700 pt-4 text-center text-sm">
    © 2024 فروشگاه دیجی استایل تمامی حقوق محفوظ است.
  </div>
</footer>