.bg-quill {
    background-image: url('/assets/images/preview.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
  }
  
  .backdrop-blur-md {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
  }